<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Fifth navbar example"
    style="box-shadow: 10px 10px 10px #c4c4c2;">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="https://s.mxmcdn.net/site/images/favicon-32.png" alt="" width="32" height="32"
                class="d-inline-block align-text-top">
            musixmatch client <span class="text-danger">API</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05"
            aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample05">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/posts']">Search song</a>
                </li>
            </ul>
            <div class="div">  
            </div>
        </div>
    </div>
</nav>