<h3 class="text-center mb-4">SEARCH SONGS</h3>
<form>
    <div class="form-group">
        <input type="text" name="searchStr" [(ngModel)]="searchStr" (keyup)="searchMusic()" class="form-control" placeholder="Search Music...">   
    </div>    
</form>
<div class="container">
    <div class="row">
        <div class="card-container my-4 mx-auto" *ngFor="let sng of song">
            <span class="pro">SONG</span>
            <img class="round" src="../../../assets/images/music128a.png" alt="user" />
            <h3>{{sng.track.track_name}}</h3>
            <h6>{{sng.track.artist_name}}</h6>
            <p>{{sng.track.album_name}}</p>
            
            <div class="skills">
                <h6>Rating: {{sng.track.track_rating}}</h6>
            </div>
        </div>
    </div>
</div>