<h3 class="text-center mb-4">TOP HOT 50 SONGS MEXICO</h3>
<div class="container">
    <div class="row">
        <div class="card-container my-4 mx-auto" *ngFor="let song of topSongs">
            <span class="pro">SONG</span>
            <img class="round" src="../../../assets/images/music128a.png" alt="user" />
            <h3>{{song.track.track_name}}</h3>
            <h6>{{song.track.artist_name}}</h6>
            <p>{{song.track.album_name}}</p>
            
            <div class="skills">
                <h6>Rating: {{song.track.track_rating}}</h6>
            </div>
        </div>
    </div>
</div>
